---
layout: default
---

<section class="category-page">

    <header class="category-header">

        <h1>{{ page.category }}</h1>

        <p>
            这里记录 Jerryhome 关于 {{ page.category }} 的探索。
        </p>

    </header>


    <section class="blog-list">

        {% for post in site.categories[page.category] %}

        <article class="blog-item">

            <div class="blog-meta">
                {{ post.date | date: "%Y.%m.%d" }}
            </div>


            <h2 class="blog-title">

                <a href="{{ post.url | relative_url }}">
                    {{ post.title }}
                </a>

            </h2>


            <p class="blog-excerpt">
                {{ post.excerpt | strip_html | truncate: 120 }}
            </p>


            <a class="blog-read" href="{{ post.url | relative_url }}">
                阅读文章 →
            </a>

        </article>

        {% endfor %}

    </section>

</section>
