---
layout: default
---

<section class="project-page">


    <header class="project-header">

        <h1>
            {{ page.title }}
        </h1>


        {% if page.status %}

        <div class="project-status">

            {{ page.status }}

        </div>

        {% endif %}


        {% if page.date %}

        <p class="project-date">

            {{ page.date }}

        </p>

        {% endif %}


    </header>



    <article class="project-content">


        {{ content }}


    </article>


</section>
